*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media

*.py[cod]
*$py.class
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec

.env*
!.env.example*
!.env.prod.example*
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

/site

.mypy_cache/

*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

sftp-config.json

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history