<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Steven Dyanizha Ananda - Portfolio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>

  <body>
    
  <!-- Navigation Bar Start -->
   <nav>

   </nav>
  
   <!-- Navigation Bar End -->

   <!-- Main Start -->
    <main>

      <!-- About Section Start -->
      <section>
        
      </section>
      <!-- About Section End -->

      <!-- Skills Section Start -->
       <section>

       </section>
      <!-- Skills Section End -->

    </main>
  <!-- Main End -->

    <!-- Footer  -->
    <footer>
      <div>
        <p class="h1 font-poppins text-primary">
          &copy; 2026 Steven. Fakultas Ilmu Komputer, Universitas Indonesia.
        </p>
      </div>
    </footer>
    <!-- Footer End -->

  </body>
</html>
